<h4>Thông tin tài khoản</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="POST" action="/taikhoan/edit?_method=PUT" >
            <div class="form-group">
                <label class="control-label">Mã tài khoản</label>
                <input class="form-control" name="MaTK" value="{{account.MaTK}}" readonly />
            </div>
            <div class="form-group">
                <label name="MaQuyen" class="control-label">Chức vụ</label>
                <select name="MaQuyen" class="custom-select" required>
                   {{#each phanquyens}}
                        <option value="{{this.MaQuyen}}" {{#if (eqSelect this.MaQuyen ../account.MaQuyen)}}selected{{/if}}>
                            {{this.TenQuyen}}
                        </option>
                    {{else}}
                        <option value="">Không có dữ liệu</option>
                    {{/each}}
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="MaCuaHang" class="control-label">Thuộc cửa hàng</label>
                <select name="MaCuaHang" class="custom-select" required>
                    {{#each cuahangs}}
                        <option value="{{this.MaCuaHang}}" {{#if (eqSelect this.MaCuaHang ../account.MaCuaHang)}}selected{{/if}}>
                            {{this.TenCuahang}}
                        </option>
                    {{else}}
                        <option value="">Không có dữ liệu</option>
                    {{/each}}
                </select>
                <span asp-validation-for="MaCuaHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="HoTen" class="control-label">Họ và tên</label>
                <input name="HoTen" class="form-control" value="{{account.HoTen}}" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="Cccd" class="control-label">Số căn cước</label>
                <input name="CCCD" class="form-control" value="{{account.CCCD}}" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="HinhAnh" class="control-label">Hình ảnh</label>
                <input type="file" name="HinhAnh" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="Sdt" class="control-label">Số điện thoại</label>
                <input name="Sdt" class="form-control" value="{{account.SDT}}" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="NgaySinh" class="control-label">Ngày sinh</label>
                <input type="date" name="NgaySinh" class="form-control" value="{{account.NgaySinh}}" />
                <span class="text-danger"></span>
            </div>
           <div class="form-group">
                <label name="Gioitinh" class="control-label">Giới tính</label>
                <select name="Gioitinh" class="custom-select" required>
                    {{#each gioitinh}}
                    <option value="{{this.value}}" {{#if (eqSelect this.value ../account.Gioitinh)}}selected{{/if}}>{{this.value}}</option>
                    {{/each}}
                </select>
                <span class="text-danger"></span>
            </div>              
            <input name="DiaChi" class="form-control" value="{{account.DiaChi}}" type="hidden"/>
            <div class="form-group">
                <label name="Email" class="control-label">Email</label>
                <input type="email" name="Email" class="form-control" value="{{account.Email}}" readonly />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="Matkhau" class="control-label"></label>
                <input type="hidden" name="Matkhau" class="form-control" value="{{account.matkhau}}" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/taikhoan/index">Back to List</a>
</div>

