<div>
    <h3>BẢNG NHÀ CUNG CẤP SẢN PHẨM</h3> 
    <div style="margin-top: 5px;">
    <a href="/phieunhap/index">Quay lại</a>
    </div>
  </div>
<table class="table" style="margin-top: 10px;">
  <thead>
    <tr>
      <th scope="col">Mã PN</th>
      <th scope="col">Tên NCC</th>
      <th scope="col">Địa chỉ</th>
      <th scope="col">Thời gian nhập</th>
      <th scope="col">Hoạt động</th>

    </tr>   
  </thead>
  <tbody>
    {{#each phieunhaps}}
    <tr>
      <td>{{this.MaPhieuNhap}}</td>
      <td>{{this.MaNCC_NhaCungCap.TenNCC}}</td>
      <td>{{this.MaNCC_NhaCungCap.DiaChi}}</td>
      <td>{{formatDate this.NgayNhapHang}}</td>
      <td>
        <div class="action-btn" style="display: flex;">
        <a href="" class="btn btn-restore" style="color: rgb(36, 8, 216);" data-maphieunhap="{{this.MaPhieuNhap}}">Khôi phục</a>
        <a href="" class="btn" style="color: red;" data-toggle="modal" data-target="#delete-mau-modal" data-maphieunhap="{{this.MaPhieuNhap}}" >Xóa vĩnh viễn</a>
        </div>       
      </td> 
    </tr>
    {{else}}
    <tr>
      <td colspan="4" class="text-center">
        Bạn chưa có phiếu nhập nào.
        <a href="/phieunhap/create">Click vào đây để tạo</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{!-- form confirm delete --}}
<div class="modal fade" id="delete-mau-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa phiếu nhập hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có xác nhận xóa không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
        <button id="btn-mau-delete" type="button" class="btn btn-danger">Xóa vĩnh viễn</button>
      </div>
    </div>
  </div>
</div>
{{!-- Form delete mau --}}
<form name="form-delete-mau" method="POST"></form>
{{!-- Form restore phieunhap --}}
<form name="form-restore-phieunhap" method="POST"></form> 
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var MaPN
    const btn_comfirm_deleteMau = document.getElementById('btn-mau-delete')
    const deleteForm = document.forms['form-delete-mau'] 
    const restoreForm = document.forms['form-restore-phieunhap']
    const btn_restore = $('.btn-restore')
    // Function get id from btn delete
    $('#delete-mau-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    MaPN = button.data('maphieunhap') // Extract info from data-* attributes
    })
    // handle btn confirm delete onclick
    btn_comfirm_deleteMau.onclick = function(){
      deleteForm.action = '/phieunhap/destroy/' + MaPN + '?_method=DELETE'
      deleteForm.submit()
    }
    // handle btn-restore click
    btn_restore.click(function(e){
        e.preventDefault()
        // Get id by Jquery 
        const maPNR = $(this).data('maphieunhap')
        restoreForm.action = '/phieunhap/restore/' + maPNR +'?_method=PATCH'
        restoreForm.submit()
    })
  })
</script>