<h1>Chi tiết</h1>

<div>
    <h4>Chi tiết đề xuất</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Sản phẩm:
        </dt>
        <dd class="col-sm-10">
            {{CTDX.MaChiTietSanPham_ChiTietSanPham.MaSanPham_SanPham.TenSanPham}}
        </dd>
        <dt class="col-sm-2">
            Size:
        </dt>
        <dd class="col-sm-10">
            {{CTDX.MaChiTietSanPham_ChiTietSanPham.MaSize_Size.TenSize}}
        </dd>
        <dt class="col-sm-2">
            Màu:
        </dt>
        <dd class="col-sm-10">
            {{CTDX.MaChiTietSanPham_ChiTietSanPham.MaMau_Mau.TenMau}}
        </dd>
        <dt class="col-sm-2">
            Loại:
        </dt>
        <dd class="col-sm-10">
            {{CTDX.MaChiTietSanPham_ChiTietSanPham.MaLoaiSanPham_LoaiSanPham.TenLoaiSanPham}}
        </dd>
        <dt class="col-sm-2">
            Đối tượng:
        </dt>
        <dd class="col-sm-10">
           {{CTDX.MaChiTietSanPham_ChiTietSanPham.MaDoiTuong_DoiTuong.TenDoiTuong}}
        </dd>
        <dt class = "col-sm-2">
            Lý do đề xuất:
        </dt>
        <dd class = "col-sm-10">
            {{CTDX.LyDoDeXuat}}
        </dd>
        <dt class = "col-sm-2">
            Số lượng đề xuất:
        </dt>
        <dd class = "col-sm-10">
            {{CTDX.SoLuongDeXuat}}
        </dd>
        <dt class = "col-sm-2">
            Trạng thái:
        </dt>
        <dd class = "col-sm-10">
            {{CTDX.TrangThaiDeXuat}}
        </dd>
        <dt class = "col-sm-2">
            Số lượng duyệt:
        </dt>
        <dd class = "col-sm-10">
            0
        </dd>            
    </dl>
</div>
<div>
    <a href="/dexuat/details/{{CTDX.MaDeXuat}}">Back to list</a>
</div>
