<h2>Chọn sản phẩm</h2>

<div class="action-right">
<!-- form tim kiem va loc -->
    <form method="GET" action="/dexuat/chonsanpham/{{MaDX}}">
      <div class="form-group" style="width: fit-content;">
          <button type="button" id="btn-refresh" class="btn"><i class="fa-solid fa-arrows-rotate" style="color: rgb(0, 58, 128); height: 20px; width: 21px;"></i></button>
          <input type="text" name="searchText" id="input_search" value="{{originalTextSearch}}" placeholder=" Nhập tại đây..." style="height: 35px; width: 200px; " />                                  
          <select class ="custom-select" name="MaSize" style="width: fit-content">   
              <option value="">-- Chọn size --</option>
              {{#each sizes}}
              <option value="{{this.MaSize}}">{{this.TenSize}}</option>
              {{else}}
              <option value="">Không có size</option>
              {{/each}}
          </select>
          <select class ="custom-select" name="MaMau" style="width: fit-content">   
              <option value="">-- Chọn màu --</option>
              {{#each maus}}
              <option value="{{this.MaMau}}">{{this.TenMau}}</option>
              {{else}}
              <option value="">Không có màu</option>
              {{/each}}
          </select>
          <select class ="custom-select" name="MaLoai" style="width: fit-content">   
              <option value="">-- Chọn loai --</option>
              {{#each loais}}
              <option value="{{this.MaLoaiSanPham}}">{{this.TenLoaiSanPham}}</option>
              {{else}}
              <option value="">Không có loại</option>
              {{/each}}
          </select>
          <select class ="custom-select" name="MaDoiTuong" style="width: fit-content">   
              <option value="">-- Chọn đối tượng --</option>
              {{#each doituongs}}
              <option value="{{this.DoiTuong}}">{{this.TenDoiTuong}}</option>
              {{else}}
              <option value="">Không có đối tượng</option>
              {{/each}}
          </select>
          <button type="submit" class="btn btn-primary"><i class="fa-solid fa-filter"></i></button>
      </div>
    </form>
  <!-- end --> 
</div>  
{{#if message}}
<div class="alert alert-danger" role="alert" style="text-align: center;">
  Sản phẩm đã chọn! 
</div>
{{/if}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Mã ctsp</th>
      <th scope="col">Tên sản phẩm</th>
      <th scope="col">Size</th>
      <th scope="col">Màu</th>
      <th scope="col">Loại</th>
      <th scope="col">Đối tượng</th>    
      <th>Nơi sản xuất</th>
      <th>Hoạt động</th>
    </tr>
  </thead>
  <tbody>
    {{#each listProduct}}
    <tr>      
        <th scope="row">{{this.MaChiTietSanPham}}</th>
        <td>{{this.MaSanPham_SanPham.TenSanPham}}</td>
        <td>{{this.MaSize_Size.TenSize}}</td>
        <td>{{this.MaMau_Mau.TenMau}}</td>
        <td>{{this.MaLoaiSanPham_LoaiSanPham.TenLoaiSanPham}}</td>
        <td>{{this.MaDoiTuong_DoiTuong.TenDoiTuong}}</td>      
        <td>{{this.NSX}}</td>
        <td>
            <form method="GET" action="/dexuat/lydodexuat" >
            <input type="hidden" value="{{this.MaChiTietSanPham}}" name="MaChiTietSanPham">
            <input type="hidden" value="{{../MaDX}}" name="MaDeXuat">
               <button type="submit" class="btn btn-primary">Chọn</button>
            </form>   
            {{!-- <a href="/phieunhap/details/?MaPhieuNhap={{../MaPN}}&MaChiTietSanPham={{this.MaChiTietSanPham}}" class="btn btn-primary">Chọn</a>          --}}
        
        </td>
    </tr>
    {{else}}
    <tr>
        <td>
            Bạn chưa có chi tiết sản phẩm nào.
            <a href="">Click vào đây để thêm</a>
        </td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{!-- pagination page --}}
<nav class="app-pagination mt-2">
    <ul class="pagination justify-content-center">
        {{#if (gt currentPage 1)}}
        <li class="page-item">
            <a class="page-link" href="/dexuat/chonsanpham/{{MaDX}}?page={{decrement currentPage}}">Previous</a>
        </li>
        {{else}}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        {{/if}}

        {{#pagination currentPage totalPages}}
        <li class="page-item {{#if active}}active{{/if}}">
            <a class="page-link" href="/dexuat/chonsanpham/{{../MaDX}}?page={{number}}">{{number}}</a>
        </li>
        {{/pagination}}

        {{#if (lt currentPage totalPages)}}
        <li class="page-item">
            <a class="page-link" href="/dexuat/chonsanpham/{{MaDX}}?page={{increment currentPage}}">Next</a>
        </li>
        {{else}}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
        </li>
        {{/if}}
    </ul>
</nav>
{{!-- form refesh --}}
<form name="refresh-form" method="GET" action="/dexuat/chonsanpham/{{MaDX}}"></form>
<a href="/dexuat/details/{{MaDX}}">Quay lại</a>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var createListForm = document.forms['form-list-ctsp']
    const refresh_form = document.forms['refresh-form']
    const btn_refresh = document.getElementById('btn-refresh')
    const inputSearch = document.getElementById('input_search')
  
    // handle refresh data of search and filter
    btn_refresh.onclick = function(){
    inputSearch.value = ''
    refresh_form.submit()
    }
  })
</script>
