<h1>DUYỆT</h1>
<h4>CHI TIẾT ĐỀ XUẤT</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        {{#if message}}
        <div class="alert alert-danger" role="alert" style="text-align: center;">
            {{message}}
        </div>
        {{/if}}
        <form method="POST" action="/duyetdexuat/duyet-ctdx?_method=PATCH">
            <input type="hidden" name="MaDeXuat" value="{{CTDX.MaDeXuat}}"/>
            <input type="hidden" name="MaChiTietSanPham" value="{{CTDX.MaChiTietSanPham}}"/>
            <div class="form-group">
                <label name="LyDoDeXuat" class="control-label">Lý do đề xuất</label>
                <input name="LyDoDeXuat" class="form-control" readonly="readonly" value="{{CTDX.LyDoDeXuat}}"/>
                <span asp-validation-for="LyDoDeXuat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="SoLuongDeXuat" class="control-label">Số lượng đề xuất</label>
                <input name="SoLuongDeXuat" class="form-control" readonly="readonly" value="{{CTDX.SoLuongDeXuat}}" />
                <span asp-validation-for="SoLuongDeXuat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="SoLuongDuyet" class="control-label">Số lượng duyệt</label>
                <input name="SoLuongDuyet" class="form-control" value="{{CTDX.SoLuongDuyet}}" type="number" min="0" required/>
                <span asp-validation-for="SoLuongDuyet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="TrangThaiDeXuat" class="control-label">Trạng thái duyệt</label>
                <select name="TrangThaiDeXuat" class="form-control form-control-sm">
                    {{#each selectList}}
                        <option value="{{this.value}}">{{this.value}}</option>
                    {{/each}}
                </select>
                <span asp-validation-for="TrangThaiDeXuat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/duyetdexuat/view-ctdx/{{CTDX.MaDeXuat}}">Quay lại</a>
</div>



